.cdx-settings-tune-colors {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cdx-settings-tune-color {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 5px;
}

.cdx-settings-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
}

.cdx-settings-button svg {
    fill: currentColor;
}